<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <app-sidebar></app-sidebar>
    <!-- Left Sidebar End -->
  
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
  
    <div class="content-page">
      <div class="content">
        <!-- Topbar Start -->
        <app-header-activity></app-header-activity>

        
        <!-- end Topbar -->
  
        <!-- Start Content-->
        <div class="container-fluid">
  
          <!-- start page title -->
  
  
          <!-- end row -->
  
        </div>
        <!-- container -->
  
      </div>
      <!-- content -->
  
      <!-- Footer Start -->
      <app-footer-activity></app-footer-activity>    <!-- end Footer -->
  
    </div>
  
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
  
  
  </div>
  