<p-toast></p-toast>




<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <app-sidebar></app-sidebar>
    <!-- Left Sidebar End -->
  
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
  
    <div class="content-page">
      <div class="content">
        <!-- Topbar Start -->
        <app-header-activity></app-header-activity>

        
        <!-- end Topbar -->
  
        <!-- Start Content-->
        <div class="container-fluid">
  
          <!-- start page title -->

          <br>
          <br>
          <br>

          <div class="row mb-2">
            <div class="col-sm-5">
                <button type="button" class="btn btn-primary mb-2" (click)="createRub()" >
                    <i class="mdi mdi-plus-circle me-2"></i>   Ajouter une rubrique
                </button>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-5">
                <button type="button" class="btn btn-primary mb-2"  >
                    <i class="mdi mdi-plus-circle me-2"></i>   Ajouter un candidat
                </button>
            </div>
        </div>
        




          <div class="col-12">
            <div class="card">
                <div class="card-body">
        
                    <p-table #dt [rows]="4" [loading]="loading" [rowHover]="true" [paginator]="true" [value]="optimisationList" sortMode="multiple"
                    responsiveLayout="scroll"
                    [resizableColumns]="true"
                    [responsive]="true"
                    currentPageReportTemplate="affiche {first} à {last} sur {totalRecords} entrées"
                    [showCurrentPageReport]="true"
                    [globalFilterFields]="['nombreDeCandidatsParPassage','dureeDePassage', 'pause', 'heureDeDebut', 'heureDeFin','nomDeLaRubrique', 'note','coefficient', 'noteEliminatoire']"
                    >
                    <ng-template pTemplate="caption">
                      <div class="d-flex p-ai-center justify-content-between">
                        <h5 class="p-m-0">Gestion des Rubriques</h5>
                        <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          
                        </span>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nombreDeCandidatsParPassage">Nombre de candidats par passage <p-sortIcon field="nombreDeCandidatsParPassage"></p-sortIcon>
                        <th pSortableColumn="dureeDePassage">Durée de passage <p-sortIcon field="dureeDePassage"></p-sortIcon>
                            <th pSortableColumn="pause">Pause <p-sortIcon field="pause"></p-sortIcon>
                                <th pSortableColumn="heureDeDebut">Heure de début <p-sortIcon field="heureDeDebut"></p-sortIcon>

                                    <th pSortableColumn="heureDeFin">Heure de fin <p-sortIcon field="heureDeFin"></p-sortIcon>
                                      <th pSortableColumn="nomDeLaRubrique">Nom de la rubrique <p-sortIcon field="nomDeLaRubrique"></p-sortIcon>

                                      <th pSortableColumn="note">Note <p-sortIcon field="note"></p-sortIcon>

                                        <th pSortableColumn="coefficient">Coefficient<p-sortIcon field="coefficient"></p-sortIcon>

                                          <th pSortableColumn="noteEliminatoire">Note éliminatoire <p-sortIcon field="noteEliminatoire"></p-sortIcon>


        
                        
                        <th>Actions</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dataItem>
                      <tr>
                        <td>
                          <p-tableCheckbox [value]="dataItem"></p-tableCheckbox>
                        </td>
                        <td>{{dataItem.nombreDeCandidatsParPassage}}</td>
                        <td>{{dataItem.dureeDePassage}}</td>
                        <td>{{dataItem.pause}}</td>
                        <td>{{dataItem.heureDeDebut}}</td>
                        <td>{{dataItem.heureDeFin}}</td>
                        <td>{{dataItem.nomDeLaRubrique}}</td>

                        <td>{{dataItem.note}}</td>

                        <td>{{dataItem.coefficient}}</td>

                        <td>{{dataItem.noteEliminatoire}}</td>



        
                         <!-- <td>
                          <button  class="btn btn-success mb-2"
                          (click)="editRubrique(dataItem, $event)"></button>
                            <button class="btn btn-primary mb-2" style="background-color: red;"
                            (click)="dropRubrique(dataItem.code, dataItem.libelle)"></button> 
                        </td>  -->
                      </tr>
                    </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="d-flex align-items-center justify-content-between">
                      Il y a au total {{ rubriqueList ? rubriqueList.length : 0 }} Rubrique(s).
                    </div>
                  </ng-template>
        
            </p-table>



            











        
                </div> 
            </div> 
        </div>


        
        <div class="col-12">
            <div class="card">
                <div class="card-body">
        
                    <p-table #dt [rows]="4" [loading]="loading" [rowHover]="true" [paginator]="true" [value]="rubriqueList" sortMode="multiple"
                    responsiveLayout="scroll"
                    [resizableColumns]="true"
                    [responsive]="true"
                    currentPageReportTemplate="affiche {first} à {last} sur {totalRecords} entrées"
                    [showCurrentPageReport]="true"
                    [globalFilterFields]="['nombreDeCandidatsParPassage','dureeDePassage', 'pause', 'heureDeDebut', 'heureDeFin','nomDeLaRubrique', 'note','coefficient', 'noteEliminatoire']"
                    >
                    <ng-template pTemplate="caption">
                      <div class="d-flex p-ai-center justify-content-between">
                        <h5 class="p-m-0">Gestion des Rubriques</h5>
                        <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          
                        </span>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nombreDeCandidatsParPassage">Nombre de candidats par passage <p-sortIcon field="nombreDeCandidatsParPassage"></p-sortIcon>
                        <th pSortableColumn="dureeDePassage">Durée de passage <p-sortIcon field="dureeDePassage"></p-sortIcon>
                            <th pSortableColumn="pause">Pause <p-sortIcon field="pause"></p-sortIcon>
                                <th pSortableColumn="heureDeDebut">Heure de début <p-sortIcon field="heureDeDebut"></p-sortIcon>

                                    <th pSortableColumn="heureDeFin">Heure de fin <p-sortIcon field="heureDeFin"></p-sortIcon>
                                      <th pSortableColumn="nomDeLaRubrique">Nom de la rubrique <p-sortIcon field="nomDeLaRubrique"></p-sortIcon>

                                      <th pSortableColumn="note">Note <p-sortIcon field="note"></p-sortIcon>

                                        <th pSortableColumn="coefficient">Coefficient<p-sortIcon field="coefficient"></p-sortIcon>

                                          <th pSortableColumn="noteEliminatoire">Note éliminatoire <p-sortIcon field="noteEliminatoire"></p-sortIcon>


        
                        
                        <th>Actions</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dataItem>
                      <tr>
                        <td>
                          <p-tableCheckbox [value]="dataItem"></p-tableCheckbox>
                        </td>
                        <td>{{dataItem.nombreDeCandidatsParPassage}}</td>
                        <td>{{dataItem.dureeDePassage}}</td>
                        <td>{{dataItem.pause}}</td>
                        <td>{{dataItem.heureDeDebut}}</td>
                        <td>{{dataItem.heureDeFin}}</td>
                        <td>{{dataItem.nomDeLaRubrique}}</td>

                        <td>{{dataItem.note}}</td>

                        <td>{{dataItem.coefficient}}</td>

                        <td>{{dataItem.noteEliminatoire}}</td>



        
                         <!-- <td>
                          <button  class="btn btn-success mb-2"
                          (click)="editRubrique(dataItem, $event)"></button>
                            <button class="btn btn-primary mb-2" style="background-color: red;"
                            (click)="dropRubrique(dataItem.code, dataItem.libelle)"></button> 
                        </td>  -->
                      </tr>
                    </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="d-flex align-items-center justify-content-between">
                      Il y a au total {{ rubriqueList ? rubriqueList.length : 0 }} Rubrique(s).
                    </div>
                  </ng-template>
        
            </p-table>

            <br>
            <br>
            <br>


            <h1>Liste des séances</h1>


 <table class="table">
  <thead>
    <tr>
      <th scope="col">Jury</th>
      <th scope="col">Début</th>
      <th scope="col">Fin</th>
      <th scope="col">Séance</th>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let seance of listSeance">
      <th scope="row">{{ seance.jury }}</th>
      <td>{{ seance.debut }}</td>
      <td>{{ seance.fin }}</td>
      <td>{{ seance.seance }}</td>
    </tr> 
  </tbody>
</table>  



            











        
                </div> 
            </div> 
        </div>

  
  
          <!-- end row -->
  
        </div>
        <!-- container -->
  
      </div>
      <!-- content -->
  
      <!-- Footer Start -->
      <app-footer-activity></app-footer-activity>    <!-- end Footer -->
  
    </div>
  
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
  
  
  </div>



  <p-dialog [style]="{width: '750px'}" [header]="isUpdating == true ? 'Modifier la rubrique': 'Ajouter une rubrique'" [(visible)]="rubriqueDialog" [modal]="true"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
 
  <form [formGroup]="rubriqueForm" (ngSubmit)="saveRubri($event)">
    <div class="form-group">
        <label for="recipient-name" class="col-form-label"> Nombre de candidat par passage:</label>
        <input type="number" class="form-control" formControlName="nombreDeCandidatsParPassage" [(ngModel)]="this.Rubrique.nombreDeCandidatsParPassage"  id="nombreDeCandidatsParPassage" required>
    </div>

    <div class="form-group">
        <label for="recipient-name" class="col-form-label"> Durée de passage:</label>
        <input type="number" class="form-control" formControlName="dureeDePassage"  [(ngModel)]="this.Rubrique.dureeDePassage"   id="dureeDePassage" required>
    </div>

    <div class="form-group">
        <label for="recipient-name" class="col-form-label"> Pause:</label>
        <input type="number" class="form-control" formControlName="pause"  [(ngModel)]="this.Rubrique.pause"   id="pause" required>
    </div>
    
    <div class="form-group">
      <label for="recipient-name" class="col-form-label"> Heure de début:</label>
      <input type="text" class="form-control" formControlName="heureDeDebut"  [(ngModel)]="this.Rubrique.heureDeDebut"   id="heureDeDebut" required>
  </div>
  
  <div class="form-group">
    <label for="recipient-name" class="col-form-label"> Heure de fin:</label>
    <input type="text" class="form-control" formControlName="heureDeFin"  [(ngModel)]="this.Rubrique.heureDeFin"   id="heureDeFin" required>
</div>

<div class="form-group">
  <label for="recipient-name" class="col-form-label"> Nom de la rubrique:</label>
  <input type="text" class="form-control" formControlName="nomDeLaRubrique"  [(ngModel)]="this.Rubrique.nomDeLaRubrique"   id="nomDeLaRubrique" required>
</div>

<div class="form-group">
  <label for="recipient-name" class="col-form-label"> Note</label>
  <input type="number" class="form-control" formControlName="note"  [(ngModel)]="this.Rubrique.note"   id="note" required>
</div>

<div class="form-group">
  <label for="recipient-name" class="col-form-label"> Coefficient</label>
  <input type="number" class="form-control" formControlName="coefficient"  [(ngModel)]="this.Rubrique.coefficient"   id="coefficient" required>
</div>

<div class="form-group">
  <label for="recipient-name" class="col-form-label"> Note éliminatoire</label>
  <input type="number" class="form-control" formControlName="noteEliminatoire"  [(ngModel)]="this.Rubrique.noteEliminatoire"   id="noteEliminatoire" required>
</div>


    <div class="d-flex mt-4 justify-content-center align-items-center ">
      <button type="submit" [disabled]="rubriqueForm.invalid || senddingRequest" class="btn d-flex justify-content-center align-items-center btn-primary">
        <span *ngIf="!senddingRequest">Enregister</span>
        <div *ngIf="senddingRequest" class="spinner-border text-sucess" role="status">
          <span class="sr-only"></span>
        </div>
      </button>
      <button type="reset" [disabled]="senddingRequest || isUpdating" class="btn btn-light  btn_effacer" (click)="annuler()">Effacer</button>
    </div>

  </form>
</p-dialog> 
 <!-- <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>   -->


 


  