<div class="leftside-menu" style="background: green">

    <!-- LOGO -->
    <a class="logo text-center logo-light">
        <span class="logo-lg">
            <h2 style="font-weight: 700; color: green; padding-top: 30px"> <img src="/assets/images/d.png" alt=""
                    height="50" width="100%">
            </h2>
        </span>
        <span class="logo-sm" style="color: green;">

            <span class="text-danger">SJ</span>M
        </span>
    </a>

    <!-- LOGO -->
    <!-- <a href="index.html" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="/assets/images/logo-dark.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="/assets/images/logo_sm_dark.png" alt="" height="16">
        </span>
    </a> -->

    <div class="h-100" >

        <!--- Sidemenu -->
        <ul class="side-nav">

            <br><br>
            <br>

            
            <li class="side-nav-item pt-3">
                <a class="side-nav-link" routerLinkActive="active" [routerLink]="'/dashboard'">
                    <i class="bi bi-house-door"></i>
                    <span >Tableau de Bord </span>
                </a>
            </li>
            <br>
            <br>


            <li class="side-nav-item pt-3">
                <a class="side-nav-link" routerLinkActive="active" [routerLink]="'/dashboard/candidat'">
                    <i class="bi bi-house-door"></i>
                    <span>Gestion des candidats </span>
                </a>
            </li>
            <li class="side-nav-item pt-3">
                <a class="side-nav-link" routerLinkActive="active" [routerLink]="'/dashboard/rubrique'">
                    <i class="bi bi-house-door"></i>
                    <span> Gestion des rubriques </span>
                </a>
            </li>
            <li class="side-nav-item pt-3">
                <a class="side-nav-link" routerLinkActive="active" [routerLink]="'/dashboard/seance'">
                    <i class="bi bi-house-door"></i>
                    <span> Gestion des séances </span>
                </a>
            </li>
            <li class="side-nav-item pt-3">
                <a  class="side-nav-link" routerLinkActive="active" [routerLink]="'/dashboard/session'">
                    <i class="bi bi-house-door"></i>
                    <span> Gestion des sessions </span>
                </a>
            </li>

            <li class="side-nav-item pt-3">
                <a  class="side-nav-link" routerLinkActive="active" [routerLink]="'/dashboard/optimisation'">
                    <i class="bi bi-house-door"></i>
                    <span> Optimisation </span>
                </a>
            </li> 

            <li class="side-nav-item pt-3">
                <a  class="side-nav-link" routerLinkActive="active" [routerLink]="'/dashboard/ordonnancement'">
                    <i class="bi bi-house-door"></i>
                    <span> Ordonnancement </span>
                </a>
            </li> 


            <li class="side-nav-item pt-3">
                <a  class="side-nav-link" routerLinkActive="active" [routerLink]="'/dashboard/notes'">
                    <i class="bi bi-house-door"></i>
                    <span> Gestion des notes  </span>
                </a>
            </li>

            <li class="side-nav-item pt-3">
                <a  class="side-nav-link" routerLinkActive="active" [routerLink]="'/dashboard/EOraux'">
                    <i class="bi bi-house-door"></i>
                    <span> Candidats Eligibles  </span>
                </a>
            </li>

            <li class="side-nav-item pt-3">
                <a  class="side-nav-link" routerLinkActive="active" [routerLink]="'/dashboard/candidatsElimines'">
                    <i class="bi bi-house-door"></i>
                    <span> Candidats Eliminés  </span>
                </a>
            </li>



            

            <br><br> <br><br>


            <li class="side-nav-item">
                <a  class="side-nav-link" routerLinkActive="active" [routerLink]="'/dashboard/deconnexion'">
                    <i class="bi bi-box-arrow-right"></i>
                    <span> Se Déconnecter </span>
                </a>
            </li>


        </ul>

        <!-- Help Box -->
        <!-- end Help Box -->
        <!-- End Sidebar -->


    </div>
    <!-- Sidebar -left -->

</div>
