<p-toast></p-toast>


<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <app-sidebar></app-sidebar>
    <!-- Left Sidebar End -->
  
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
  
    <div class="content-page">
      <div class="content">
        <!-- Topbar Start -->
        <app-header-activity></app-header-activity>

        
        <!-- end Topbar -->
  
        <!-- Start Content-->
        <div class="container-fluid">


            
          <br>
          <br>
          <br>

          <div class="row mb-2">
            <div class="col-sm-5">
                <button type="button" class="btn btn-primary mb-2" (click)="createNote()" >
                    <i class="mdi mdi-plus-circle me-2"></i>   Ajouter une note
                </button>
            </div>
        </div>
        




          <div class="col-12">
            <div class="card">
                <div class="card-body">
        
                    <p-table #dt [rows]="4" [loading]="loading" [rowHover]="true" [paginator]="true" [value]="noteList" sortMode="multiple"
                    responsiveLayout="scroll"
                    [resizableColumns]="true"
                    [responsive]="true"
                    currentPageReportTemplate="affiche {first} à {last} sur {totalRecords} entrées"
                    [showCurrentPageReport]="true"
                    [globalFilterFields]="['candidat','rubrique', 'valeur']"
                    >
                    <ng-template pTemplate="caption">
                      <div class="d-flex p-ai-center justify-content-between">
                        <h1 class="p-m-0">Gestion des Notes</h1>
                        <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                           <input pInputText [(ngModel)]="search" (input)="dt.filterGlobal(search, 'contains')" type="text" class="form-control" style="padding-left: 30px;"
                            placeholder="Rechercher une note..." /> 
                        </span>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="candidat">Nom du candidat <p-sortIcon field="candidat"></p-sortIcon>
                        <th pSortableColumn="rubrique">Nom de la rubrique <p-sortIcon field="rubrique"></p-sortIcon>
                            <th pSortableColumn="valeur">Valeur <p-sortIcon field="valeur"></p-sortIcon>



        
                        
                        <th>Actions</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dataItem>
                      <tr >
                        <td>
                          <p-tableCheckbox [value]="dataItem"></p-tableCheckbox>
                        </td>
                        <td>{{dataItem.candidat.nom}}</td>
                        <td>{{dataItem.rubrique.nomDeLaRubrique}}</td>
                        <td>{{dataItem.valeur}}</td>




        
                         <td>
                          <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-info mr-2"
                          (click)="editNote(dataItem, $event)"></button> 
                         <button pButton pRipple icon="pi pi-trash" class="p-button p-button-danger"
                            (click)="dropNote(dataItem.code, dataItem.valeur)"></button>  
                        </td> 
                      </tr>
                    </ng-template>
                  <ng-template pTemplate="footer">
                    <div class="d-flex align-items-center justify-content-between">
                      Il y a au total {{ noteList ? noteList.length : 0 }} Note(s).
                    </div>
                  </ng-template>
        
            </p-table>


            



            











        
                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div>
  
          <!-- start page title -->
  
  
          <!-- end row -->
  
        </div>
        <!-- container -->
  
      </div>
      <!-- content -->
  
      <!-- Footer Start -->
      <app-footer-activity></app-footer-activity>    
      <!-- end Footer -->
  
    </div>
  
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
  
  
  </div>


  
  <p-dialog [style]="{width: '750px'}" [header]="isUpdating == true ? 'Modifier ': 'Ajouter une note'" [(visible)]="noteDialog" [modal]="true"
  [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
 
  <form [formGroup]="noteForm" (ngSubmit)="saveNote($event)">
    <div class="form-group">
        <label for="recipient-name" class="col-form-label"> Choisir un Candidat</label>
        <select class="form-control" formControlName="candidat"     name="candidat"  style="width: 100%" required [(ngModel)]="this.Note.candidat_id">
          <option  *ngFor="let candidat of candidatList " value="{{candidat.code}}">{{candidat.nom}}</option>
      
      
        </select>
      </div>

      <div class="form-group">
        <label for="recipient-name" class="col-form-label"> Choisir une Rubrique:</label>
        <select class="form-control" formControlName="rubrique"     name="rubrique"  style="width: 100%" required [(ngModel)]="this.Note.rubrique_id">
          <option  *ngFor="let rubrique of rubriqueList " value="{{rubrique.code}}">{{rubrique.nomDeLaRubrique}}</option>
      
      
        </select>
      </div>

    <div class="form-group">
        <label for="recipient-name" class="col-form-label"> Valeur:</label>
        <input type="text" class="form-control" formControlName="valeur"  [(ngModel)]="this.Note.valeur"   id="valeur" required>
    </div>


    <div class="d-flex mt-4 justify-content-center align-items-center ">
      <button type="submit"  class="btn d-flex justify-content-center align-items-center btn-primary">
        <span *ngIf="!senddingRequest">Enregister</span>
        <div *ngIf="senddingRequest" class="spinner-border text-sucess" role="status">
          <span class="sr-only"></span>
        </div>
      </button>
      <button type="reset" [disabled]="senddingRequest || isUpdating" class="btn btn-light  btn_effacer" (click)="annuler()">Effacer</button>
    </div>

  </form>
</p-dialog>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>   

  