button{
    margin-left: 10px;
    border-radius: 2.1rem;
}


.red-border {
    border-color: red;  /* Change la couleur de la bordure en rouge */
    color: red;         /* Change la couleur du texte en rouge */
  }


  h1{
    font-style: oblique;

    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    color: green;


}