<p-toast></p-toast>

<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <app-sidebar></app-sidebar>
    <!-- Left Sidebar End -->
  
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
  
    <div class="content-page">
      <div class="content">
        <!-- Topbar Start -->
        <app-header-activity></app-header-activity>

        
        <!-- end Topbar -->
  
        <!-- Start Content-->
        <div class="container-fluid">



            <br>
            <br>
            <br>



            <div class="col-12">
                <div class="card">
                    <div class="card-body">
            
                        <p-table #dt [rows]="4" [loading]="loading" [rowHover]="true" [paginator]="true" [value]="candidatList" sortMode="multiple"
                        responsiveLayout="scroll"
                        [resizableColumns]="true"
                        [responsive]="true"
                        currentPageReportTemplate="affiche {first} à {last} sur {totalRecords} entrées"
                        [showCurrentPageReport]="true"
                        [globalFilterFields]="['nom','prenom', 'matricule', 'sexe',  'moyenneProbatoire', 'age', 'observations','mentionBaccFrancophone', 'gceA', 'session']"
                        >
                        <ng-template pTemplate="caption">
                          <div class="d-flex p-ai-center justify-content-between">
                            <h5 class="p-m-0">Liste des  Candidats elligibles aux examens oraux</h5>
                            <span class="p-input-icon-left">
                              <i class="pi pi-search"></i>
                               <input pInputText [(ngModel)]="search" (input)="dt.filterGlobal(search, 'contains')" type="text" class="form-control" style="padding-left: 30px;"
                                placeholder="Rechercher un candidat..." /> 

                                
                            </span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 3rem">
                              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon>
                            <th pSortableColumn="prenom">Prénom <p-sortIcon field="prenom"></p-sortIcon>
                                <th pSortableColumn="matricule">Matricule <p-sortIcon field="matricule"></p-sortIcon>
                                    <th pSortableColumn="sexe">Sexe <p-sortIcon field="sexe"></p-sortIcon>
                                      <th pSortableColumn="moyenneProbatoire">Moyenne Probatoire<p-sortIcon field="moyenneProbatoire"></p-sortIcon>
                                        <th pSortableColumn="age">Age<p-sortIcon field="age"></p-sortIcon>
                                        <th pSortableColumn="observations">Observations<p-sortIcon field="observations"></p-sortIcon>   
                                          <th pSortableColumn="mentionBaccFrancophone">Mention Baccalauréat<p-sortIcon field="mentionBaccFrancophone"></p-sortIcon>                                     
                                            <th pSortableColumn="gceA">Mention GCEA<p-sortIcon field="gceA"></p-sortIcon>                                     
                                          <th pSortableColumn="session">Session <p-sortIcon field="session"></p-sortIcon>




            
                            
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dataItem>
                          <tr *ngIf="dataItem.mentionBaccFrancophone === stringOne ",
                       >
                            <td >
                              <p-tableCheckbox [value]="dataItem"></p-tableCheckbox>
                            </td>
                            <td>{{dataItem.nom}}</td>
                            <td>{{dataItem.prenom}}</td>
                            <td>{{dataItem.matricule}}</td>
                            <td>{{dataItem.sexe}}</td>
                            <td>{{dataItem.moyenneProbatoire}}</td>
                            <td>{{dataItem.age}}</td>
                            <td>{{dataItem.observations}}</td>
                            <td>{{dataItem.mentionBaccFrancophone}}</td>
                            <td>{{dataItem.gceA}}</td>
                            <td>{{dataItem.session.libelle}}</td> 
                            
                          </tr>
                        </ng-template>
                      <ng-template pTemplate="footer">
                        <div class="d-flex align-items-center justify-content-between">
                          <!-- Il y a au total {{ candidatList ? candidatList.length : 0 }} Candidats(s). -->
                        </div>
                      </ng-template>
            
                </p-table>



                











            
                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div>
  
          <!-- start page title -->
  
  
          <!-- end row -->
  
        </div>
        <!-- container -->
  
      </div>
      <!-- content -->
  
      <!-- Footer Start -->
         <!-- end Footer -->
  
    </div>
  
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
  
  
  </div>



<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>   
